@model IEnumerable<ShopModel.TeaShopVM>

@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetDetails</title>
    <script>
        //$(document).ready(function () {

        //    $(".Deletebtn").on(onclick, function () {
        //        var Item_Id = $(this).attr('id');
        //        $.ajax({
        //            type: "GET",
        //            url: "/Shop/DeleteItem",
        //            contentType: "application/html; charset=utf-8",
        //            data: { id: Item_Id },
        //            //dataType: "html",
        //            success: function (data) {
        //                alert("Item has been deleted");
        //            },
        //            error: function ajaxError(response) {
        //                alert(response.status + ' ' + response.statusText);
        //            }
        //        });

        //    });

           

        //});

        //function ItemDelete() {
        //    alert("do you want to delete???");
        //    //var Item_Id = $(this).attr("id");
        //    var Item_Id = $("#butn").val();
        //    alert("hi" + Item_Id);
        //    $.ajax({
        //        type: "POST",
        //        url: "/Shop/DeleteItem/" + Item_Id.toString(),
        //        contentType: "application/html; charset=utf-8",
        //        dataType:"text",
        //        //data: { id: Item_Id },
        //        //dataType: "html",
        //        success: function (data) {
        //             $('#del').html(data);
        //            //$('body').empty().append(data);
                    
        //        },
        //        error: function (xhr, status, error) {
        //            alert(xhr.responseText);
        //            alert(status);
        //            alert(error);
        //        }
        //    });

        //}
      
    </script>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "CreateItem")
    </p>
    <table class="table" style="overflow-y:auto">
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.ItemId)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageFile)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr onclick="location.href='@Url.Action("GetItemDetail", "Shop", new { id = item.ItemId })'">
                @*<tr onclick="EditDetails()">*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.ItemId)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.ImageFile)*@
                    <img src="@Url.Content(item.ImageFile)" alt="No Image" width="50" height="40" />
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>*@
            <td>
                @*<button id="butn" value=@item.ItemId onclick="ItemDelete()">Delete</button>
                @Ajax.ActionLink("Delete", "DeleteItem", new { id = item.ItemId }, new AjaxOptions() { UpdateTargetId = "del", HttpMethod = "POST" })*@
                @Html.ActionLink("Delete", "DeleteItem", new { id = item.ItemId })
                
               
            </td>
            </tr>
           
        }

    </table>
    
    <div id="del"></div>
    
</body>
</html>
