@model IEnumerable<ShopModel.TeaShopVM>

@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetDetails</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "CreateItem")
    </p>
    <table class="table" style="overflow-y:auto">
        <tr>
            @*<th>
            @Html.DisplayNameFor(model => model.ItemId)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageFile)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Description)
        </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr onclick="location.href='@Url.Action("GetItemDetail","Shop",new { id=item.ItemId})'">
                @*<tr onclick="EditDetails()">*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.ItemId)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.ImageFile)*@
                    <img src="@Url.Content(item.ImageFile)" alt="No Image" width="50" height="40" />
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>*@
            <td>
                @Html.ActionLink("Delete", "DeleteItem", new { id = item.ItemId })
                @*@Html.ActionLink("Edit", "EditItem", new {  id=item.ItemId  }) |*@
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
            </td>
            </tr>
        }

    </table>
    <input type="search" class="form-control mr-1" id="search" name="search" placeholder="Search by Name" />
    <button onclick=search()>Go</button>
    <script type="text/javascript">
        //$(document).ready(function () {
        //    $("#myInput").on("input", function () {
        //        // Print entered value in a div box
        //        alert("hii..");
        //    });

        function search() {
            alert("hi");
            var item = $("#search").val();
            alert(item);

            $.ajax({
                type: "GET",
                url: "/Shop/SearchItem",
                contentType: "application/html; charset=utf-8",
                data: { name: item },
                dataType: "html",
                success: function (data) {
                    $("body").empty().append(data);
                },
                error: function ajaxError(response) {
                    alert(response.status + ' ' + response.statusText);
                }
            });
        };
    </script>
</body>
</html>
