@model IEnumerable<Tea_Shop.Models.TeaShop>

@{
    ViewBag.Title = "GetDetails";
}

<h2>GetDetails</h2>

<p>
    <button> @Html.ActionLink("Create New", "CreateItem")</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageFile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr onclick="location.href='@Url.Action("GetItemDetail","Shop",new{id=item.ItemId })'">
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
           <img src="@Url.Content(item.ImageFile)" alt="No image" width="50" height="50"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ItemId }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.ItemId }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.ItemId })
        </td>
    </tr>
}

</table>
