@model ShopModel.TeaShopVM

@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetItemDetail</title>
</head>
<body>
    <div style="margin-top:20px;background-color:darkgrey;border-radius:20px;height:500px;">
        <div style="position:absolute;margin-top:50px;width:1000px; margin-left:50px">
            <h4>@Html.DisplayFor(model => model.ItemName)</h4> 
            <img src="@Url.Content(Model.ImageFile)" alt="No Image" style="margin-left:100px;width:300px;height:200px;"/>
            <div>Price:Rs. @Html.DisplayFor(model => model.Price)</div>
            <div> @Html.DisplayFor(model => model.Description)</div>
            <button style="color:black">@Html.ActionLink("Edit", "EditItem", new { id = Model.ItemId })</button>
        </div>
       
    </div>
    <div>
        @Html.ActionLink("Back to List", "GetDetails")
    </div>    

</body>
</html>
