@model ShopModel.TeaShopVM

@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetItemDetail</title>
</head>
<body>
    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
    <table class="table">
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.ItemId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageFile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>


        <tr>
            @*<td>
                @Html.DisplayFor(model => model.ItemId)
            </td>*@
            <td>
                @Html.DisplayFor(model => model.ItemName)
            </td>
            <td>
                @Html.DisplayFor(model => model.Price)
            </td>
            <td>
                @*@Html.DisplayFor(model => model.ImageFile)*@
                <img src="@Url.Content(Model.ImageFile)" alt="No Image" width="50" height="40" />
                @*<img src="@Url.Content(item.ImageFile)" alt="No Image" width="50" height="40" />*@
            </td>
            <td>
                @Html.DisplayFor(model => model.Description)
            </td>
            <td>
                    @Html.ActionLink("Edit", "EditItem", new {  id=Model.ItemId  }) 
                    @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>


    </table>

    <div>
        @Html.ActionLink("Back to List", "GetDetails")
    </div>
</body>
</html>
